body {
    width: 100%;
    position: fixed;
}

.wrapper {
    width: 100%;
    display: flex;
}

.main {
    width: 100%;
    display: flex;
    height: stretch;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: stretch;
}

.navigation {
    width: 100%;
    height: 72px;
}

.content {
    padding: 1rem !important;
    margin: 0 !important;
    overflow: auto;
    height: calc(100vh - 72px);
}

.pro-sidebar-inner {
    background-color: $dark !important;
}

.react-slidedown {
    background-color: lighten($dark, 30%) !important;
}