body {
    width: 100%;
    position: fixed;
}

.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 1;
}

.main {
    width: 100%;
    display: flex;
    height: -webkit-fill-available;
}

.body {
    width: 100%;
    display: flex;
}

.body__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
}

.navigation {
    width: 100%;
    height: 72px;

    nav {
        height: 100%;
    }
}

.content {
    padding: 1rem !important;
    margin: 0 !important;
    overflow: auto;
    height: calc(100vh - 72px);
}

.sidebar {
    height: stretch;
}

.pro-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
}

.pro-sidebar .pro-menu {
    height: calc(100vh - 72px);
    overflow: auto;
}

.pro-sidebar-inner {
    background-color: $dark !important;
}

.react-slidedown {
    background-color: lighten($dark, 30%) !important;
}

.component {
    width: 100%;
    padding: 1rem;
    border: .2rem solid $secondary;
    border-radius: .2rem;
}